<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Title</title>
  </head>
  <body class="position-relative container-fluid p-0 wrapper" style="background-color: #F2F2F2;" id="body" (scroll)="onScroll($event)">
    <app-navbar class="w-100"></app-navbar>
    <!-- Filter nav bar ----------------------------------------------------------------------------------------------->
    <div class="row align-content-center p-2 bg-white border-bottom m-0" id="nav2">
      <div class="col-md-5 col-sm-12">
        <form class="form-inline w-100 h-100">
          <div class="input-group w-100 h-100">
            <app-ng-auto-complete class="my-auto form-control p-0" [autoCompleteData] = "autoCompleteData"></app-ng-auto-complete>
            <div class="input-group-append">
              <select class="custom-select form-control input-group-text bg-white rounded-right-pill my-auto"
                      name="searchContext" style="height: 38px" (change)="contextClick($event.target.value)" required="required">
                <option *ngFor="let c of contexts">{{ c }}</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-6 col-sm-12 offset-lg-1">
          <div class="row">

            <div class="position-relative col-md-4 text-center filter-holder" (click)="f1Click(1)">
              <fa-icon [icon]="calendar" id="f1" size="lg" [styles]="{'color' : '#2EACFF'}" class="mx-5"></fa-icon>
              <br>From-to
              <div class="position-absolute bg-white border p-3" id="form1">
                input here
              </div>
            </div>

            <div class="position-relative col-md-4 text-center filter-holder" (click)="f1Click(2)">
              <fa-icon [icon]="user" id="f2" size="lg" [styles]="{'color' : '#2EACFF'}" class="mx-5"></fa-icon>
              <br>sexe
              <div class="position-absolute bg-white border p-3" id="form2">
                input here
              </div>
            </div>

            <div class="position-relative col-md-4 text-center filter-holder" (click)="f1Click(3)">
              <fa-icon [icon]="file" id="f3" size="lg" [styles]="{'color' : '#2EACFF'}" class="mx-5"></fa-icon>
              <br>subject
              <div class="position-absolute bg-white border p-3" id="form3">
                input here
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- End filter nav bar ------------------------------------------------------------------------------------------->
    <div class="row container-fluid m-0">
      <div class="col-lg-3 col-md-4 col-sm-6 p-2">
        <div class="card w-100">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ9n3qqVGzSz7zwKCDzGPb8AKXMfRnQYH1R5iLMZ4VKDUZNNXJt" class="card-img-top border rounded-circle w-50 align-self-center my-2" alt="...">
          <div class="card-body border-top">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 p-2">
        <div class="card w-100">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ9n3qqVGzSz7zwKCDzGPb8AKXMfRnQYH1R5iLMZ4VKDUZNNXJt" class="card-img-top border rounded-circle w-50 align-self-center my-2" alt="...">
          <div class="card-body border-top">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 p-2">
        <div class="card w-100">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ9n3qqVGzSz7zwKCDzGPb8AKXMfRnQYH1R5iLMZ4VKDUZNNXJt" class="card-img-top border rounded-circle w-50 align-self-center my-2" alt="...">
          <div class="card-body border-top">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 p-2">
        <div class="card w-100">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ9n3qqVGzSz7zwKCDzGPb8AKXMfRnQYH1R5iLMZ4VKDUZNNXJt" class="card-img-top border rounded-circle w-50 align-self-center my-2" alt="...">
          <div class="card-body border-top">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 p-2">
        <div class="card w-100">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ9n3qqVGzSz7zwKCDzGPb8AKXMfRnQYH1R5iLMZ4VKDUZNNXJt" class="card-img-top border rounded-circle w-50 align-self-center my-2" alt="...">
          <div class="card-body border-top">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 p-2">
        <div class="card w-100">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ9n3qqVGzSz7zwKCDzGPb8AKXMfRnQYH1R5iLMZ4VKDUZNNXJt" class="card-img-top border rounded-circle w-50 align-self-center my-2" alt="...">
          <div class="card-body border-top">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 p-2">
        <div class="card w-100">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ9n3qqVGzSz7zwKCDzGPb8AKXMfRnQYH1R5iLMZ4VKDUZNNXJt" class="card-img-top border rounded-circle w-50 align-self-center my-2" alt="...">
          <div class="card-body border-top">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 p-2">
          <div class="card w-100">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ9n3qqVGzSz7zwKCDzGPb8AKXMfRnQYH1R5iLMZ4VKDUZNNXJt" class="card-img-top border rounded-circle w-50 align-self-center my-2" alt="...">
            <div class="card-body border-top">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>
