::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
  background-color: #2EACFF;
  border-radius: 5px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin-right: 6px;
}
.sticky-content {
  padding-top: 67px !important;
}
.wrapper {
  overflow-x: hidden;
}
